.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.page-blog .item > .kmt-readon {
  display: none;
}
#section-kmt {
  margin: 0;
  padding: 40px 0 0;
}
#section-kmt #kmt-form h3.kmt-title {
  background: none;
  text-decoration: none;
  color: #383838;
  font: 22px/30px 'Cantarell', sans-serif;
  text-transform: uppercase;
  margin: 0 0 23px;
  padding: 0;
  border-radius: 0px;
}
#section-kmt #kmt-fame {
  margin: 0;
}
#section-kmt + div {
  padding: 0 !important;
  margin: 0;
  text-align: right !important;
}
#section-kmt + div > a {
  font-size: 10px;
}
#section-kmt .kmt-control {
  display: block;
}
#section-kmt .kmt-avatar,
#section-kmt .kmt-avatar * {
  display: block;
  position: relative;
  overflow: hidden;
  width: 48px;
  height: 48px;
  margin: 0 20px 10px 0;
}
#section-kmt .input.text,
#section-kmt .input.password {
  height: 29px;
  line-height: 29px;
  padding: 0 4px;
}
#section-kmt .kmt-form-content .kmt-form-addon > div {
  margin-bottom: 10px;
}
#section-kmt .kmt-option {
  float: right;
  margin: 10px;
  position: relative;
}
#section-kmt .kmt-avatar + .kmt-content {
  margin-left: 0px;
}
#section-kmt .input.kmt-location {
  width: auto !important;
}
input#tnc-checkbox {
  border: none !important;
  padding: 0 !important;
  background: none !important;
}
#section-kmt .kmt-profile-head {
  overflow: hidden;
}
#section-kmt .kmt-profile-head .kmt-profile-avatar {
  position: relative;
  height: 60px;
  width: 60px;
  z-index: 999;
  zoom: 1;
}
#section-kmt .kmt-profile-head .kmt-profile-avatar img {
  height: 60px;
  position: relative;
  overflow: hidden;
}
